@charset "utf-8";

#sliderNav a.sliderPrev,
#sliderNav a.sliderNext{
	text-indent: -9999px;
}
#slider a.sliderNext {
    background: url("../images/arrows.png") no-repeat scroll -30px 0 transparent !important;
    color: transparent;
    height: 50%;
    width: 31px !important;
}
#slider a.sliderPrev {
    background: url("../images/arrows.png") no-repeat scroll 0 0 transparent !important;
    color: transparent;
    height: 50%;
    width: 31px !important;
}

#slider a {
    text-indent: -9999px;
}
body .slidermanButtonsCont .sliderPrev,
body .slidermanButtonsCont .sliderNext {
    margin-top: 6%;
}

.slideTitle p {
	font-family: 'Arial';
	font-size: 14px
}

