@charset "utf-8";


@media(max-width:768px){
	#sidebar1, #sidebar2{
		border: 0 none;
	}		
	#header{
		text-align: center;
	}
	.module, .moduletable, .moduletext, #top > div {
		padding: 0;
	}
	[class*="span"], .row-fluid [class*="span"] {
		margin-bottom: 0;
	}
	.moduletable, .moduletable_ms1, .moduletable_ms2, .moduletext, .moduletext_ms1, .moduletext_ms2,
	.module, .module_ms1, .module_ms2 {
		margin-bottom: 0;
	}
	#toolbar, #header, #menu, #featured, #grid-top, #main-content, #above-content, #breadcrumbs, #grid-bottom, #grid-bottom2, #bottom-menu {
		margin-bottom: 0;
	}
	.wrapper-menu,
	#header{
		margin-left: -20px;
		margin-right: -20px;
	}
	.wrapper-container-featured{
		margin-left: -20px;
		margin-right: -20px;
		width: auto;
		
	}
	.wrapper-menu .container{
		padding-left: 0;
		padding-right: 0;
	}
	.content-wrapp{
		margin-left: 0;
		margin-right: 0;
	}
	#sidebar1 .moduletable_ms1,
	#sidebar2 .moduletable_ms1{
	padding:0 !important;
	}
	
	/* nosp-mobile styles */

	.nosp-mobile.span12 {
	    width: 100%;
	}
	.nosp-mobile.span11 {
	    width: 91.453%;
	}
	.nosp-mobile.span10 {
	    width: 82.906%;
	}
	.nosp-mobile.span9 {
	    width: 74.359%;
	}
	.nosp-mobile.span8 {
	    width: 65.812%;
	}
	.nosp-mobile.span7 {
	    width: 57.265%;
	}
	.nosp-mobile.span6 {
	    width: 48.7179%;
	}
	.nosp-mobile.span5 {
	    width: 40.1709%;
	}
	.nosp-mobile.span4 {
	    width: 31.6239%;
	}
	.nosp-mobile.span3 {
	    width: 23.0769%;
	}
	.nosp-mobile.span2 {
	    width: 14.5299%;
	}
	.nosp-mobile.span1 {
	    width: 5.98291%;
	}

	[class*="span"].nosp-mobile {
		float: left;
		margin-left: 1%
	}

	
}
@media(max-width:1200px){
	
	.navbar-inverse .brand, 
	.navbar-inverse .nav > li > a{
		padding: 10px 25px;
	}
}
@media(max-width:1163px){
	aside #mod-search-searchword{
		clear: both;
		display: block;
	}
	.navbar-inverse .brand, 
	.navbar-inverse .nav > li > a{
		padding: 10px 25px;
	}
}
@media (max-width: 979px){
	
	ul.nav, ul.nav li,
	#menu li, #bottom-menu li {
		list-style: none;
	}
	
	#bottom-menu .navbar-inner{
		display: block;
	}
	#toolbar span.separator{
		color: #fbfbfb;
	}
	#bottom-menu .nav-collapse .dropdown-menu a:hover{
	color: white;
	}

	#toolbar .container-fluid {
		padding: 0
	}
	
	#toolbar .container,
	.wrapper-menu .container,
	#header .container{
		border:0 none;
	}
	
	#menu .dropdown-menu li, #bottom-menu .dropdown-menu li, #nav-toolbar .dropdown-menu li {
		border: 0;
	}
	
	#nav-toolbar .navbar .nav > li > a,
	.nav-collapse .nav > li > a,
	.navbar .nav > li > .dropdown-menu:after,
	#menu .dropdown-menu,
	#bottom-menu .dropdown-menu,
	#nav-toolbar .dropdown-menu {
		border: 0;
		color: #ffffff;
	}
	.nav-collapse .nav > li > a, .nav-collapse .dropdown-menu a {
		color: white;
	}
	.navbar-inverse .nav-collapse .nav > li > a:hover,
	.navbar-inverse .nav-collapse .dropdown-menu a:hover{
		background-color: #CC0000;
	}
	.navbar-inverse .nav .active > a, .navbar-inverse .nav .active > a:hover, .navbar-inverse .nav .active > a:focus{
		background-color: #CC0000;
	}
	#toolbar .dropdown-menu a{
		border-bottom: 1px solid #CC0000;
	}
	.navbar-inverse .nav li.dropdown.open > .dropdown-toggle, 
	.navbar-inverse .nav li.dropdown.active > .dropdown-toggle,
	.navbar-inverse .nav li.dropdown.open.active > .dropdown-toggle{
		background-color: #3F4345;
	}
	
	#nav-toolbar.nav-collapse,
	#nav-menu.nav-collapse {
		display: block;
	}
	.custom_ms2 i,
	.custom_ms2 h2{
		font-size: 1.5em;
	}
	.navbar-inner,
	#nav-toolbar.nav-collapse{
		margin-left: 0;
		margin-right: 0;
	}
}

