@charset "utf-8";
/************************ Menu ********************/
.wrapper-menu{
	background-color: #D03535;
}
.navbar .dropdown-menu{
	background-color: #A62B2B;
}
.navbar .dropdown-menu li a,
.navbar .dropdown-menu li span {
	color: #F0C0C0;
}
.nav-collapse .dropdown-menu a:hover,
.nav-collapse .dropdown-menu span:hover,
.navbar .dropdown-menu .active > a,.navbar .dropdown-menu .active > a:hover{
	color: #F0BFBF;
	text-shadow: 0 0 0 #F0BFBF,0 0 0 #F0BFBF; 
}

#footer a:hover{
	color: red;
}
.hero-unit h1 {
	color: #E38686;
}

.wrapper-container-featured .featured-background {
	background-color: #D03535;
}
.navbar-inverse .btn-navbar:hover,
.navbar-inverse .btn-navbar:active,
.navbar-inverse .btn-navbar.active, 
.navbar-inverse .btn-navbar.disabled, 
.navbar-inverse .btn-navbar[disabled]{
	background-color: #BF2C2C;
}
.pager a, .pager span{
	background-color: #D03638;
	color: #E38686;
}
