@charset "utf-8";
/************************ Menu ********************/
.wrapper-menu,
.wrapper-bottom-menu,
#header,
.navbar-inverse .navbar-inner,
#breadcrumbs a{
	background-color: #FFA801;
}
.navbar .dropdown-menu{
	background-color: #CC8500;
}
.navbar .dropdown-menu li a,
.navbar .dropdown-menu li span {
	color: #fff;
}
.nav-collapse .dropdown-menu a:hover,
.nav-collapse .dropdown-menu span:hover,
.navbar .dropdown-menu .active > a,.navbar .dropdown-menu .active > a:hover{
	color: #fff;
	text-shadow: 0 0 0 #fff,0 0 0 #fff; 
}

#footer a:hover,
#main #tabs h1 a, 
#main #tabs h2 a, 
#main #tabs h3 a, 
#main #tabs h4 a, 
#main #tabs h5 a, #main #tabs h6 a, 
#main .tabs h1 a, #main .tabs h2 a, 
#main .tabs h3 a, #main .tabs h4 a, 
#main .tabs h5 a, #main .tabs h6 a{
	color: #FFA801;
}
.hero-unit h1 {
	color: #FECA66;
}
.readmore a,
.readmore a:hover{
	background-image: url('../images/arrow-yellow.png');
}

.wrapper-container-featured .featured-background {
	background-color: #FFA801;
}
.navbar-inverse .btn-navbar:hover,
.navbar-inverse .btn-navbar:active,
.navbar-inverse .btn-navbar.active, 
.navbar-inverse .btn-navbar.disabled, 
.navbar-inverse .btn-navbar[disabled]{
	background-color: #E79800
}
.pager a, .pager span{
	background-color: #FFA801;
	color: #FECA66;
}
